<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorkOrderApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>D852BF5C99402B5091E5588B57BF937BC514F1AC</string>
				<key>dateExpires</key>
				<string>16/10/20</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D852BF5C99402B5091E5588B57BF937BC514F1AC</string>
						<key>dateExpires</key>
						<string>16/10/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4AZTABRHYP</string>
						<key>name</key>
						<string>Phidelia Mwangangi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D852BF5C99402B5091E5588B57BF937BC514F1AC</string>
						<key>dateExpires</key>
						<string>16/10/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4AZTABRHYP</string>
						<key>name</key>
						<string>Phidelia Mwangangi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D852BF5C99402B5091E5588B57BF937BC514F1AC</string>
						<key>dateExpires</key>
						<string>16/10/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4AZTABRHYP</string>
						<key>name</key>
						<string>Phidelia Mwangangi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D852BF5C99402B5091E5588B57BF937BC514F1AC</string>
						<key>dateExpires</key>
						<string>16/10/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Toast_Swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4AZTABRHYP</string>
						<key>name</key>
						<string>Phidelia Mwangangi</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>4AZTABRHYP.com.WorkOrderApp</string>
				<key>com.apple.developer.team-identifier</key>
				<string>4AZTABRHYP</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>4AZTABRHYP.com.WorkOrderApp</string>
				</array>
			</dict>
			<key>name</key>
			<string>WorkOrderApp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d25d9054-c201-4138-8676-deb7336c3894</string>
				<key>name</key>
				<string>Work_provision</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>4AZTABRHYP</string>
				<key>name</key>
				<string>Phidelia Mwangangi</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
